@charset"utf-8";

body{
  margin: 0;
  width: 100%;
}

.header-title{
  padding: 0px 30px;
  background-color:white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.access{
  font-size: 14px;
  background-color:white;
  width: 20%;
  display: flex;
  justify-content: space-around;
}

nav{
  height: 60px;
  width: 100%;
  background-color:rgb(130, 180, 245);
}

header nav ul {
  margin:0;
  padding:0;
  height: 60px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header nav ul li{
  margin-left: 20px;
}

header nav ul li a{
  text-decoration: none;
  color:white;
}

header nav ul li a:hover{
  color:orange;
  transition: all 0.3s;
}

.firstview{
  height: 664px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/fureai_top.png");
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.f_con{
  height: auto;
  width: auto;
  color: white;
  z-index: 2;
}

.f_con h2 {
  font-size: 60px;
  color: rgb(130, 180, 245);
}

.aboutme{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.maincontainer{
  width: 70%;
  margin: 10px;
  padding:5px;
  border: 1px solid rgb(130, 180, 245);
  border-radius: 3px;
  display: flex;
  flex-direction: column
}

h3, h4{
  border-bottom: 1px solid rgb(130, 180, 245);
}



.subcontainer{
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:5px;
  border: 1px solid rgb(130, 180, 245);
  border-radius: 3px;
  display: flex;
  flex-direction: column
}

footer{
  background: rgb(130, 180, 245);
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
}